<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Blogify</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body class="bg-gray-100">
    <%- include("./partials/navbar.ejs") %>
    <div class="my-8 w-4/5 mx-auto h-full grid grid-cols-3 place-items-center gap-6">
      <% if (locals.blogs) { %> <% blogs.forEach(blog => { %>
      <div
        class="w-80 flex flex-col bg-white border-2 shadow-sm rounded-lg overflow-hidden">
        <img
          class="w-full h-48 rounded-t-lg"
          src="<%= blog.image %>"
          alt="Card Image" />
        <div class="p-4 md:p-5">
          <h3 class="text-lg font-bold text-gray-800 dark:text-white">
            <%= blog.title.slice(0, 28)+"..." %>
          </h3>
          <p class="mt-1 text-gray-500 dark:text-neutral-400">
            <%= blog.content.slice(0, 60)+"...." %>
          </p>
          <a
            class="mt-2 py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
            href="/blog/<%= blog.slug %>">
            Read More
          </a>
        </div>
      </div>
      <% }) %> 
      <% } %>

      <% if (!locals.blogs) { %>
          <p class="text-2xl text-black mt-20"
            >NO Blogs found.<br />
            Add Blogs to see here
          </p>
      <% } %>
    </div>
  </body>
</html>
